.h-fullscreen {
    height: 100vh;
}

html {
    margin: 0 !important;
}

.invalid-extra-input {
    border-color: var(--tblr-form-invalid-border-color);
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
}

.show-eyes {
    filter: invert(32%) sepia(28%) saturate(5038%) hue-rotate(194deg) brightness(91%) contrast(200%);
}

.table-sort {
    width: auto !important;
}

.table-sort::after {
    content: "";
    width: 0;
    height: 0;
    background: none !important;
}

.table-sort::before {
    content: "";
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'><path d='M5 7l3 -3l3 3'/><path d='M5 10l3 3l3 -3'/></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'><path d='M5 7l3 -3l3 3'/><path d='M5 10l3 3l3 -3'/></svg>");
    background: currentColor;
    margin-right: 5px;
    margin-left: -5px;
}

.table-sort {
    width: auto
}

.table-sort.asc::before {
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M5 10l3 -3l3 3'/></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M5 10l3 -3l3 3'/></svg>");
}

.table-sort.desc::before {
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M5 7l3 3l3 -3'/></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M5 7l3 3l3 -3'/></svg>");
}

.filepond--credits {
    display: none !important;
}

.gap-inputs {
    display: flex !important;
    flex-direction: column !important;
    gap: 1.5rem !important;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667% !important;
}

.hotel-hero-bg {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ),
    url('/resources/images/bg-hero.webp');
    background-position: left center;
}

.hotel-hero .booking-card {
    background-color: color-mix(in srgb, var(--surface-color), transparent 60%);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.btn-origin {
    background: var(--accent-color);
    color: var(--contrast-color);
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
    border-color: var(--accent-color);
    box-shadow: 0 4px 15px color-mix(in srgb, var(--accent-color), transparent 70%);
}

.highlight-item i {
    font-size: 30px;
    color: #21b98e;
}


.highlight-item div {
    font-size: 20px;
    color: var(--contrast-color);
}


.booking .reservation-form input[type="password"] {
    color: var(--default-color);
    background-color: var(--surface-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 80%);
    border-radius: 4px;
    padding: 0.875rem 1rem;
    font-size: 0.95rem;
    transition: all 0.3s ease;
    width: 100%;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: var(--tblr-form-invalid-border-color) !important;
    padding-right: 2.375rem !important;
}

.navmenu .dropdown ul button {
    font-size: 15px;
    text-transform: none;
    color: var(--nav-dropdown-color);
}

[data-bs-theme=dark] .modal-content {
    border: 1px solid #424141 !important;
}

[data-bs-theme=dark] .navbar-brand a img {
    filter: brightness(0) invert(1);
}

[data-bs-theme=dark] .navbar-brand a span {
    color: white;
}

.navbar-brand a span {
    color: #045d7d;;
}

.brand-color {
    color: #045d7d !important;;
}


